@charset "UTF-8";

* {
	font-family: 'nsr-r';
}

.content {
	width: 100%;
}

.content-wrap {
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
	margin-top: 100px;
}

/* 배달내역 */
.deliver-wrap {
	width: 50%;
	margin: 0 auto;
	float: left;
}

.deliver-wrap>p {
	text-align: center;
	margin-bottom: 70px;
	font-size: 1.6em;
	font-family: 'nsr-b';
}

.deliver-product img {
	width: 110px;
	height: 70px;
}

.deliver-product {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 50px;
}

.product-quan, .product-price {
	text-align: right;
}

.deliver-product tr:last-of-type {
	border-bottom: 1px solid red;
}
/* 배송지정보 */
.deliver-addr-content {
	width: 50%;
	margin: 0 auto;
	float: left;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 50px;
}

.deliver-addr-content>p {
	text-align: center;
	font-size: 1.6em;
	font-family: 'nsr-b';
	padding-bottom: 30px;
}

.deliver-addr-content .deliver-addr-update, .deliver-addr-content .deliver-addr-complete
	{
	border: none;
	font-size: 1.2em;
	margin: 0 auto;
	text-decoration: none;
	color: black;
	background-color: #fff;
	float: right;
	padding-right: 20px;
	cursor: pointer;
}

.deliver-addr-content .deliver-addr-update:hover, .deliver-addr-content .deliver-addr-complete:hover
	{
	text-decoration: underline;
}

.deliver-addr-content .deliver-addr {
	padding-top: 15px;
}

.deliver-addr .addr-box input {
	font-size: 1em;
	border: none;
	width: 350px;
	outline: none;
}

.deliver-addr-content .deliver-addr .addr-box {
	padding-left: 50px;
	padding-bottom: 20px;
}

.underline {
	text-decoration: underline;
}

/* 결제금액 */
.product-total {
	margin: 0;
}

.product-total .one {
	padding-top: 50px;
}

.one, .two, .three, .four {
	display: flex;
	justify-content: space-between;
	color: #838383;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.four {
	padding-top: 20px;
	font-size: 1.3em;
	font-family: nsr-b;
	color: #1c1c1c;
}

/* 결제수단선택 */
.pay-method {
	margin: 0;
	margin-top: 50px;
	float: left;
	padding-left: 50px;
}

.pay-method>p {
	font-size: 2.5em;
	font-weight: 900;
	margin-bottom: 50px;
}

.pay-method #pay-card, .pay-method #pay-account, .pay-method #pay-kakao
	{
	width: 300px;
	height: 50px;
	cursor: pointer;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	margin-bottom: 15px;
	line-height: 50px;
}

.pay-card-wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.pay-card-wrap img {
	width: 40px;
	height: 40px;
	margin: 0 10px;
}

.pay-card-comment {
	justify-content: center;
	font-size: 1.1em;
}

#pay-card:hover, #pay-account:hover, #pay-kakao:hover {
	border: 1px solid #2c2c2c;
}

.line {
	/* margin: 0 auto; */
	width: 1px;
	align-self: center;
	min-height: 769px;
	height: 90%;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	margin-left: 64px;
	margin-right: 64px;
}