*{
	font-family: nsr-r;
}

/* .donate_wrap{
    width: 1200px;
} */
.donate_title{
    text-align: center;
}
.donate_title>h1{
    margin-top: 60px;
    padding: 10px 0px;
    color: #785c37;    
    border-top: 3px solid #785c37;
    border-bottom: 3px solid #785c37;
    width: 450px;
    display: inline-block;
}
.donate_content_wrap{
    width: 1200px;
    margin: 60px auto;
}
.donate_content_box{
    width: 267px;
    height: 363px;
    border: 1px solid lightgray; 
    display: none;
    margin-left: 24px;
    margin-bottom: 24px;
}
.donate_content_box_modal{
    width: 267px;
    height: 363px;
    border: 1px solid lightgray; 
    display: none;
    margin-left: 24px;
    margin-bottom: 24px;
}

.donate_content{
    padding: 20px;
}
.donate_img{
    width: 265px;
    height: 200px;
}
.donate_content_title{
    font-weight: 700;
    font-size: 15px;
}
.donate_content_organ{
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}
.donate_content_bar>progress{
	width: 100%;
	height:7px;
	border-radius:0px;
}
::-webkit-progress-bar{
	background: lightgray; 
}
::-webkit-progress-value{
	background: #00ab33;
}
.donate_content_footer{
    margin-top: 10px;
}
.donate_percent_num,.donate_percent_per{
	color: #00ab33;
}
.donate_percent_num,.donate_percent_num_modal,.donate_percent_per{
    font-size: 18px;
    float: left;
}
.donate_amount_num,.donate_amount_num_modal,.donate_amount_won{
    font-size: 18px;
    float: right;
}
.more_btn{
    width: 1200px;
    height: 40px;
}
.donate_content_box>a{
    text-decoration: none;
    color: black;
}
.donate_content_box_modal>a{
    text-decoration: none;
    color: black;
}
#ex1{
	max-width: 380px;
	height: 600px;
	padding: 15px 40px;
	padding-top: 40px;
}
#ex1>.donate_content_box{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
#ex1>.donate_content_box_modal{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.donate_div{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    background-color: rgb(252,252,254);
}
.modal_close{
	display: flex;
	align-items: center;
	padding: 10px 0px;
	
}
.modal_close>a{
	color: black;
}

.donate_btn_box{
	padding: 0px 25px;
	height : 40px;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	display: inline-flex;
	background-color: #fefaee;
}
.donate_btn_box_sum{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.donate_btn_box_input{
	padding-left: 30px;
}
.donate_btn_box_input input{
	height: 20px;
	outline: none;
	border: none;
	background-color: white;
	text-align: right;
}
.donate_btn{
	border: none;
	background-color: #fefaee;
	cursor: pointer;
}
.donate_input_area{
	display: inline-block;
	align-items:center;
	width: 300px;
	border-bottom: 1px solid lightgray;
}
.my_donate_sum{
	padding: 10px 0px;
	border-bottom: 1px solid lightgray;
	text-align: center;
}
.my_donate_sum p{
	display: inline-block;
}
.more_end_box{
	text-align: center;
	display: none;
	font-size: 24px;
	font-family: nsr-b;
	margin-top: 35px;
}
