@charset "UTF-8";
.page-content{
	width: 1250px;
	margin: 90px auto;
}
.page-title{
	min-height: 30px;
    padding: 0 0 10px;
    padding: 5px 0 70px;
    text-align: center;
    
}
.page-title>h2{
	font-size: 26px;
    letter-spacing: 0.08em;
   	color: #785c37;
}
.reviewList>ul>li{
	display: inline-block;
    cursor: pointer;
    position: relative;
    width: 225px;
    vertical-align: top;
    padding: 0 0 20px;
    margin: 0 10px 30px;
    border: 1px solid #e1e1e1;
}
.pic-zone{
    width: 224px;
    height: 225px;
}
.pic-zone img{
	width: 100%;
	height: 100%;
}
.description{
	line-height: 1.5;
    padding: 10px 25px;
}
.content{
	font-size: 13px;
    color: #999;
    font-weight: 300;
    padding: 10px 0 0;
    height: 49px;
    overflow: hidden;
}
.date{
	padding: 20px 0 0;
    font-size: 12px;
    text-align: center;
}
.point{
	padding: 10px 0 0;
	text-align: center;
}
.writer{
	display: none;
}
.listBtn{
	margin-top: 45px;
	text-align: center;
}
.listBtn li{
	
}
