<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
	<!--  null 값이 발생하면 빈칸이 아닌 null로 처리한다 -->
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>
<typeAliases>
	<typeAlias type="kr.or.member.model.vo.Member" alias="m"></typeAlias>
	<typeAlias type="kr.or.store.model.vo.Store" alias="s"></typeAlias>
	<typeAlias type="kr.or.store.model.vo.StoreDetail" alias="sd"></typeAlias>
	<typeAlias type="kr.or.store.model.vo.StorePageData" alias="spd"></typeAlias>
	<typeAlias type="kr.or.store.model.vo.StoreListDetail" alias="sld"></typeAlias>
	<typeAlias type="kr.or.store.model.vo.StoreStatus" alias="ss"></typeAlias>

	<typeAlias type="kr.or.cs.model.vo.CS" alias="cs"></typeAlias>
	<typeAlias type="kr.or.cs.model.vo.CSList" alias="csl"></typeAlias>
	<typeAlias type="kr.or.cs.model.vo.CSDetail" alias="csd"></typeAlias>
	
	<typeAlias type="kr.or.account.model.vo.Account" alias="a"></typeAlias>
	<typeAlias type="kr.or.product.model.vo.Product" alias="p"></typeAlias>
	<typeAlias type="kr.or.order.model.vo.Order" alias="o"></typeAlias>
	<typeAlias type="kr.or.order.model.vo.OrderProduct" alias="op"></typeAlias>
	<typeAlias type="kr.or.review.model.vo.Review" alias="r"></typeAlias>
	
	<typeAlias type="kr.or.donate.model.vo.Donate" alias="d"></typeAlias>
	
	<typeAlias type="kr.or.store.model.vo.Like" alias="l"></typeAlias>
</typeAliases>
</configuration>
