@charset "UTF-8";

*{
    list-style: none;
    margin : 0;
    font-family:'nsr-r';
}

ul{
    padding:0;
}

.total_wrapper{
    margin-top :40px;
    display:flex;
    justify-content : center;
}



.left_container{
    width:200px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 5px;
    margin-right:20px;
}

.memberInfo{
    width:200px;
    height:160px;
    margin-top:14px;
    margin-left:20px;
}

.memberInfo p{
    font-size:24px;
    margin-bottom: 10px;
    
}

.selectList{
    height:243px;
    border-top: 3px solid lightgray;
}


.selectList a{
    display:block;
    text-decoration: none;
    color : black;
    width:200px;
    line-height: 60px;
    text-align: center;
    color : gray;
}


.left_container{
	height:417px;
}
.selectList .index{
    background-color: lightgray;
    color: black;
}

.right_container{
    width:960px;
    height: 530px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius:5px;
}

.right_container .content_container{
    margin-top:0px;
    margin-left:10px;
   	overflow: auto;
   	height: 460px;
}

.search_wrap{ 
	margin-top:15px;
	margin-bottom:15px;
	text-align : right;
	margin-right:20px;
}

.search_wrap select{
	height:20px;
	
}

.search_wrap input{
	height:20px;
	width:200px;
}

.search_wrap #searchBtn{
	height:20px;
	width:50px;
	border:none;
	background-color:lightgrey;
	border-radius:5px;
	cursor:pointer;
}








