.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	min-height: 100vh;
}

.page-content {
	flex: 1;
	width: 100%;
	min-width: 1200px;
}

:root { -
	-main-bg-color: pink;
}

* {
	color: #252a34;
	font-family: 'NanumSquareRound';
	font-weight: normal;
}

body {
	flex-direction: column;
	min-height: 100vh;
}
.material-icons.dropdown {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.6);
	position: absolute;
	right: 0px;
	top: 27px;
	transition-duration: 0.5s;
}

.material-icons.dropdown:hover {
	cursor: pointer;
}

.f-medium {
	font-weight: 400;
}

.f-bold {
	font-weight: 700;
}

.f-black {
	font-weight: 800;
}

/* 글씨 색 */
.fc-1 {
	color: #252a34;
}

.fc-2 {
	color: #393e46;
}

.fc-3 {
	color: #eeeeee;
}

.fc-4 {
	color: #F6F6F6;
}

.fc-5 {
	color: #785c37;
}

.fc-6 {
	color: #5AC5DB;
}

.fc-7 {
	color: #F2DF3A;
} /*
  .fc-8 {
    color: #f85f73;
  }
  .fc-9 {
    color: #892cdc;
  }
  */

/* 배경 색*/
.bg-1 {
	background-color: #252a34;
}

.bg-2 {
	background-color: #393e46;
}

.bg-3 {
	background-color: #eeeeee;
}

.bg-4 {
	background-color: #F6F6F6;
}

.bg-5 {
	background-color: #0078AA;
}

.bg-6 {
	background-color: #5AC5DB;
}

.bg-7 {
	background-color: #F2DF3A;
}
/*
  .bg-8 {
    background-color: #f85f73;
  }
  .bg-9 {
    background-color: #892cdc;
  }
  */
/* 테이블 디자인 */
.tbl {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

.tbl th, .tbl td {
	padding: 1rem;
	text-align: center;
}

.tbl .tr-1 {
	background-color: rgba(255, 255, 255, 1);
}

.tbl .tr-2 {
	background-color: rgba(57, 62, 70, 0.1);
}

.tbl .tr-3 {
	background-color: rgba(0, 120, 170, 0.1);
}

.tbl .tr-4 {
	background-color: rgba(90, 197, 219, 0.1);
}

.tbl .tr-5 {
	background-color: rgba(242, 223, 58, 0.1);
}

.tbl .td-1 {
	background-color: rgba(255, 255, 255, 1);
}

.tbl .td-2 {
	background-color: rgba(57, 62, 70, 0.1);
}

.tbl .td-3 {
	background-color: rgba(0, 173, 181, 0.1);
}

.tbl .td-4 {
	background-color: rgba(137, 44, 220, 0.1);
}

.tbl .td-5 {
	background-color: rgba(255, 46, 999, 0.1);
}

.tbl.tbl-hover .tr-1:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.tbl.tbl-hover .tr-2:hover {
	background-color: rgba(57, 62, 70, 0.15);
}

.tbl.tbl-hover .tr-3:hover {
	background-color: rgba(0, 120, 170, 0.15);
}

.tbl.tbl-hover .tr-4:hover {
	background-color: rgba(90, 197, 219, 0.15);
}

.tbl.tbl-hover .tr-5:hover {
	background-color: rgba(242, 223, 58, 0.15);
}

/* 버튼 디자인 */
.btn {
	border: none;
	padding: 1rem;
	display: inline-block;
	box-sizing: border-box;
	transition-duration: 0.5s;
	font-size: 16px;
	font-family: 'NanumSquareRound';
	border-radius: 12px;
}

.btn.br-none {
	border-radius: 0;
}

.bc1 {
	background-color: rgba(37, 42, 52, 0.9);
	color: #fff;
	border: 2px solid rgba(37, 42, 52, 0.9);
}

.bc1:hover {
	background-color: rgba(37, 42, 52, 1);
	cursor: pointer;
}

.bc2 {
	background-color: rgba(57, 62, 70, 0.9);
	color: #fff;
	border: 2px solid rgba(57, 62, 70, 0.9);
}

.bc2:hover {
	background-color: rgba(57, 62, 70, 1);
	cursor: pointer;
}

.bc3 {
	background-color: rgba(238, 238, 238, 0.9);
	color: #252a34;
	border: 2px solid rgba(238, 238, 238, 0.9);
}

.bc3:hover {
	background-color: rgba(238, 238, 238, 1);
	cursor: pointer;
}

.bc4 {
	background-color: rgba(#fefaee, 0.9);
	color: #785737;
	border: 2px solid rgba(#fefaee, 0.9);
}

.bc4:hover {
	background-color: rgba(#fefaee, 1);
	cursor: pointer;
}

.bc5 {
	background-color: #785c37;
	color: #fff;
	border: 2px solid #785c37;
}

.bc5:hover {
	background-color: #785c37;
	cursor: pointer;
}

.bc6 {
	background-color: rgba(242, 223, 58, 0.9);
	color: #fff;
	border: 2px solid rgba(242, 223, 58, 0.9);
}

.bc6:hover {
	background-color: rgba(242, 223, 58, 1);
	cursor: pointer;
}
/*
  .bc7 {
    background-color: rgba(248, 95, 115, 0.9);
    color: #fff;
    border: 2px solid rgba(248, 95, 115, 0.9);
  }
  .bc7:hover {
    background-color: rgba(248, 95, 115, 1);
    cursor: pointer;
  }
  .bc8 {
    background-color: rgba(137, 44, 220, 0.9);
    color: #fff;
    border: 2px solid rgba(137, 44, 220, 0.9);
  }
  .bc8:hover {
    background-color: rgba(137, 44, 220, 1);
    cursor: pointer;
  }
  */
.bc11 {
	color: rgba(37, 42, 52, 1);
	background-color: #fff;
	border: 2px solid rgba(37, 42, 52, 1);
}

.bc11:hover {
	background-color: rgba(37, 42, 52, 1);
	cursor: pointer;
	color: #fff;
}

.bc22 {
	color: rgba(57, 62, 70, 1);
	background-color: #fff;
	border: 2px solid rgba(57, 62, 70, 1);
}

.bc22:hover {
	background-color: rgba(57, 62, 70, 1);
	cursor: pointer;
	color: #fff;
}

.bc33 {
	color: rgba(37, 42, 52, 1);
	background-color: #fff;
	border: 2px solid rgba(238, 238, 238, 1);
}

.bc33:hover {
	background-color: rgba(238, 238, 238, 1);
	cursor: pointer;
	color: rgba(37, 42, 52, 1);
}

.bc44 {
	color: rgba(0, 120, 170, 1);
	background-color: #fff;
	border: 2px solid rgba(0, 120, 170, 1);
}

.bc44:hover {
	background-color: rgba(0, 120, 170, 1);
	color: #fff;
	cursor: pointer;
}

.bc55 {
	color: rgba(90, 197, 219, 1);
	background-color: #fff;
	border: 2px solid rgba(90, 197, 219, 1);
}

.bc55:hover {
	background-color: rgba(90, 197, 219, 1);
	color: #fff;
	cursor: pointer;
}

.bc66 {
	color: #785737;
	background-color: #fff;
	border: 2px solid #785737;
}

.bc66:hover {
	background-color: rgba(#785737, 1);
	color: #fff;
	cursor: pointer;
}
/*
  .bc77 {
    color: rgba(248, 95, 115, 1);
    background-color: #fff;
    border: 2px solid rgba(248, 95, 115, 1);
  }
  .bc77:hover {
    background-color: rgba(248, 95, 115, 1);
    color: #fff;
    cursor: pointer;
  }
  .bc88 {
    color: rgba(137, 44, 220, 1);
    background-color: #fff;
    border: 2px solid rgba(137, 44, 220, 1);
  }
  .bc88:hover {
    background-color: rgba(137, 44, 220, 1);
    color: #fff;
    cursor: pointer;
  }
  */
.bs1 {
	padding: 1rem;
}

.bs2 {
	padding: 1.5rem;
	font-size: 1.1em;
}

.bs3 {
	padding: 2rem;
	font-size: 1.2em;
}

.bs4 {
	width: 100%;
	padding: 2rem;
	font-size: 1.2em;
}
/* input 디자인 */
.input-form {
	width: 100%;
	display: block;
	padding: 0.8rem;
	background-color: #fff;
	outline: none;
	border: 1px solid rgb(229, 230, 232);
	box-sizing: border-box;
}

.input-form:focus {
	border-color: #0078AA;
}

textarea.input-form {
	resize: none;
	min-height: 300px;
}

.input-form:read-only:not(select), .input-form:disabled {
	background-color: #f7f7f9;
}
/* 페이징 디자인 */
.pagination {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination>li {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
}

.pagination.circle-style>li {
	border-radius: 50%;
}

.pagination>li>a.page-item {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	color: #0078AA;
	font-weight: 700;
}

.pagination>li>a.page-item>span.material-icons {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	color: #0078AA;
}

.pagination .page-item.active-page {
	background-color: #0078AA;
	color: #fff;
}
/*게시물 표현*/
.posting-wrap {
	display: flex;
	flex-wrap: wrap;
}

.posting-wrap .posting-item {
	box-sizing: border-box;
	width: calc(100%/ 5);
	padding: 20px;
}

.posting-wrap .posting-item .posting-img img {
	width: 100%;
	height: 200px;
}

.posting-wrap .posting-item .posting-content {
	width: 80%;
	margin: 0 auto;
}

.posting-wrap .posting-item:hover {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
/* 댓글 */
.posting-comment {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	padding: 12px 20px;
	list-style-type: none;
}

.posting-comment>li {
	box-sizing: border-box;
}

.posting-comment>li:first-child {
	display: flex;
	align-items: center;
}

.posting-comment>li:first-child .comment-info {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	align-items: baseline;
	justify-content: space-between;
}

.posting-comment>li:first-child .comment-info span {
	display: block;
	font-size: 14px;
}

.posting-comment>li:first-child .comment-info span:first-child {
	margin-bottom: 6px;
	font-weight: 800;
}

.posting-comment>li:first-child .comment-info span:last-child {
	color: #666;
	font-size: 13px;
}

.posting-comment>li:first-child .material-icons {
	font-size: 40px;
	color: #999;
	border-radius: 50%;
}

.posting-comment.reply {
	background-color: #FBFCFD;
	padding-left: 40px;
}

.posting-comment.reply>li:first-child .material-icons:first-child {
	font-size: 30px;
	color: #999;
}

.posting-comment.reply>li:last-child {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.posting-comment>li:last-child {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.posting-comment>li:last-child>p {
	width: 100%;
	box-sizing: b order-box;
}

.posting-comment>li:last-child>.comment-info>span {
	padding: 0px 10px;
}

.posting-comment>li:last-child>.comment-info>span:not(:last-child) {
	border-right: 2px solid #ccc;
}

.posting-comment>li:last-child>.comment-content {
	padding: 12px 15px;
	line-height: 1.4;
	font-size: 15px;
	text-align: left;
}

.posting-comment>li:last-child>.comment-link {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}

.posting-comment>li:last-child>.comment-link a {
	padding: 0 6px;
	font-size: 14px;
	font-weight: 800;
	color: #393E46;
}

.posting-comment>li:last-child>.comment-link>a:hover {
	text-decoration: underline;
}

/*모달*/
.modal-bg {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	flex-direction: column;
}

.modal-wrap {
	margin-top: 150px;
	width: 600px;
	background: #fff;
	height: auto;
}

.modal-wrap div {
	padding: 1rem;
}

.modal-wrap div:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.modal-wrap .modal-foot {
	text-align: right;
}

.modal-wrap div.modal-head {
	position: relative;
}

.close-icon {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 30px;
}

.close-icon:hover {
	cursor: pointer;
}

/* ===== header =====
  header{
    width:100%;
    min-width:1200px;
    /* background-color:rgb(229, 231, 235); 
    background-color:#fff;
    border-bottom:1px solid #ebebeb;
}

header .header-container{
    position:relative;
    width:1200px;
    margin:0 auto;
    padding-top:30px;
}
.header-logo{
    width:100px
}
.header-logo img{
    display:block;
    width:100%;
} 
.header-top{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.header-center{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
.header-center >a {

    display:block;
}
.header-button > a{
    display:block;
    padding:15px 20px;
    background-color:#5AC5DB;
    /* background-color:#0078AA; 
    font-size:18px;
    color:#fff;
    border-radius: 15px;
    font-weight:700;
    transition:background-color .3s;
}
.header-button > a:hover{
    background-color:#0078AA;
}
.header-menu{
    display:flex;
}

.header-bottom{
    width:100%;
    display:flex;
    justify-content:center;
}
.header-menu > li > a{
    display:flex;
    align-items: center;
    height:70px;
    padding:0 15px;
    font-size:18px;
    cursor: pointer;
    
}
.header-menu > li > a:hover{
    font-weight:700;
}
.util-menu{
    position:absolute;
    right:15px;
    bottom:60px;
}
.util-menu > li > a:hover{
    text-decoration: underline;
}*/
/* ===== footer ===== 
.footer_wrap{
  /* height: 200px; 
  padding:30px 0;
  background-color:#252A34;
  width: 100%;
}
.footer_text>p{
  line-height:1.8;
  color: white;
  font-size: 11px;
  text-align: center;
}
.footer_text>p:first-child{
  line-height:2.5;
  font-size: 15px;
  font-weight: 900;
}
.footer_text>ul a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.footer_text>ul>li{
  line-height:2;
}
.footer_text>ul{
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin: 0 auto;
}
.footer_text>ul>li:last-child a{
  font-weight: 700;
}
.footer_text>ul>li:first-child a{
  padding-top: 1px;
  font-weight: 400;
}
 */