@charset "UTF-8";

*{
    list-style: none;
    margin : 0;
}

ul{
    padding:0;
}

.total_wrapper{
    margin-top :40px;
    margin-left:60px;
    display:flex;
    justify-content: center;
}



.left_container{
    width:200px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 5px;
    margin-right:20px;
}

.memberInfo{
    width:200px;
    height:160px;
    margin-top:14px;
    margin-left:20px;
}

.memberInfo p{
    font-size:24px;
    margin-bottom: 10px;
    
}

.selectList{
    border-top: 3px solid lightgray;
}

.selectList a{
    display:block;
    text-decoration: none;
    color : black;
    width:200px;
    line-height: 60px;
 
    text-align: center;
    color : gray;
}



.selectList .index{
    background-color: lightgray;
    color: black;
}




.right_container{
    width:960px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius:5px;
}

.right_container .content_container{
    margin-top:10px;
    margin-left:10px;
}