@charset "UTF-8";

* {
	font-family: 'nsr-r';
}

.title_wrapper {
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	font-weight: 800;
	padding-top: 40px;
	padding-bottom: 40px;
}

.title_wrapper p {
	margin: 0 auto;
}

/* 테이블*/
.membertbl {
	margin: 0 auto;
}

.membertbl th {
	background-color: lightgrey;
	width: 200px;
}

.membertbl tr button {
	border: none;
	padding: 5px 10px 5px 10px;
	color: white;
	font-weight: 800;
	border-radius: 5px;
	background-color: skyblue;
	cursor: pointer;
}

.membertbl td:nth-child(2) {
	width: 400px;
}

.membertbl td input {
	width: 300px;
	height: 30px;
	border: 1px solid lightgrey;
	box-sizing: border;
	background-color: white;
}

.membertbl #hour input {
	width: 138px;
}

.membertbl #storeRegistNum {
	background-color: #e2e2e2;
}

.membertbl #storeRegistNum:focus {
	outline: none;
}

.membertbl #storeNo {
	background-color: #e2e2e2;
}

.membertbl #storeNo:focus {
	outline: none;
}

.membertbl #memberName {
	background-color: #e2e2e2;
}

.membertbl #memberName:focus {
	outline: none;
}

.btn_wrap {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.btn_wrap button {
	border: none;
	padding: 10px 20px 10px 20px;
	color: white;
	font-weight: 800;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	margin-left: 20px;
}

.complete {
	background-color: darkgray;
}

.modify {
	background-color: orange;
}