@charset "UTF-8";
*{
	font-family: 'nsr-r';
	list-style:none;
}


.title{
	font-size:48px;
	text-align:center;
	margin-bottom:40px;
}

.title p{
	font-family: 'nsr-b';
}



.qna_wrapper{
	margin-bottom:100px;
}

.sub_title p{
	font-size:36px;
	font-family: 'nsr-b';
	margin-bottom:20px;
}
.container{
	margin-top:60px;
	margin-bottom:100px;
}
.answer{
	display:none;
}

.sub_container{
	width:1000px;
	margin:0 auto;
}

.qna_wrapper ul{
	margin:0;
	padding:0;
	width:900px;
}

.qna_wrapper li{
	background-color:#785c37;
	width:900px;
	color:#f8f8f8;
	line-height:48px;
}

.qna_wrapper span{
	float:right;
	padding-right:20px;
	line-height:48px;
}

.qna_wrapper p{
	margin-left:10px;
}

.qna_wrapper .quest{
	cursor:pointer;
}
.qna_wrapper .answer{
	background-color:#fefaee;
	color:black;
}

.text_wrapper{
	margin-bottom:50px;
}

#btn_chat{
	background-color:#785c37;
	border:none;
	font-size:24px;
	width:200px;
	height:56px;
	color:white;
	border-radius:10px;
	cursor:pointer;
}

#btn_chat a{
	text-decoration:none;
	color:#f8f8f8;
	display:block;
	text-align:center;
	line-height:56px;
}