@charset "UTF-8";

*{
	font-family: 'nsr-r';
}
.member-point{
	padding-top: 35px;
}
.selectList ul li{
    display:block;
    text-decoration: none;
    color : black;
    width:200px;
    line-height: 60px;
    text-align: center;
    color : gray;
    cursor: pointer;
}
.content_container{
	
	padding: 40px;
}
.content_container .member-withdraw{
	text-align: center;
}
.content_container .member-withdraw a{
	color: gray;
}
.content-update{
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.right_container{
	width: 700px;
}
.content-title{
	font-size: 1.5em;
	padding-bottom : 40px;
	margin-bottom: 40px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.content-update div:first-child{
	font-size: 1.2em;
}
.content-info-wrap{
	padding-bottom: 25px;
	margin-bottom: 40px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.content-info{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	margin-left: 10px;
	margin-bottom: 24px;
}
.content-info div:first-child {
	width: 120px;
}



/* 최근 주문 내역 */
.content-box{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.content-img img{
	width: 70px;
	height: 70px;
	margin: 25px;
}
.content-status-date{
	display: flex;
	justify-content: flex-start;
}
.content-status-date span{
	align-items: center;
}
input{
	border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    width: 350px;
}
input:focus {
	outline: none;
}

.my_info_title{
    margin-left: 30px;
    margin-top: 20px;
}

.my_info_title>.title{
    font-size: 24px;
    display: inline-block;
}

.title_btn_box{
    display: inline-block;
    float: right;
    margin-right: 30px;
}

.edit_btn{
    border: none;
    font-size: 15px;
    color: gray;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
}

.edit_complete_btn{
	display: none;
    border: none;
	font-size: 15px;
    color: gray;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
}
.user_info_content{
    display: inline-block;
}

.user_info{
    font-weight: 700;
    font-size: 15px;
}
.user_info_title{
    padding-left: 50px;
    padding-top: 25px;
    width: 170px;
    display: inline-block;
    color: gray;
}
.footer_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:70px;
}

.footer_box_btn{
    border: none;
    font-size: 15px;
    color: gray;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
}
.navi_box{
    width: 610px;
    padding-left: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.edit_complete_btn{
	margin-top: 20px;
}








