@charset "UTF-8";

* {
	font-family: 'nsr-r';
}

.title-wrapper {
	margin-top: 60px;
	font-size: 48px;
	text-align: center;
	margin-bottom: 40px;
}

.title-wrapper p {
	font-family: 'nsr-b';
}

.chatting_header {
	width: 800px;
	margin: 0 auto;
}

.chatting_header p {
	margin: 0 auto;
	padding-left: 15px;
	background-color: #785c37;
	border-radius: 10px 10px 0 0;
	color: white;
	font-family: 'nsr-b';
	height: 48px;
	line-height: 51px;
	text-align: left;
}

.chatting {
	width: 800px;
	margin: 0 auto;
}

.messageArea {
	overflow-y: auto;
	border: 3px solid #785c37;
	border-radius: 0 0 10px 10px;
	height: 400px;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.messageArea>p {
	text-align: center;
	width: 100%;
}

.sendBox {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 40px;
}

#sendMsg {
	width: 80%;
	height: 30px;
	border: 2px solid #785c37;
	border-radius: 10px;
}

#sendBtn {
	width: 19%;
	height: 30px;
	background-color: #785c37;
	color: white;
	border: none;
	border-radius: 10px;
}

.chat {
	margin-bottom: 10px;
	padding: 8px;
	border-radius: 3px;
}

.left {
	position: relative;
	max-width: 300px;
	align-self: flex-start;
	background-color: #b1823c;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left: 16px;
	padding: 15px;
}

.left:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 0px 0;
	border-color: transparent #b1823c;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 12px;
}

.right {
	position: relative;
	max-width: 300px;
	align-self: flex-end;
	background-color: #e2e2e2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-right: 16px;
	padding: 15px;
	margin-top: 10px;
}

.right:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 0 15px 15px;
	border-color: transparent #e2e2e2;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 12px;
}

/*내부 생성 리스트*/
.selectList {
	background-color: #e2e2e2;
	width: 150px;
}

.selectList button {
	height: 25px;
	line-height: 25px;
	width: 110px;
	background-color: white;
	text-align: center;
	margin: 5px auto;
	cursor: pointer;
	border: none;
}

#etc {
	height: 25px;
	line-height: 25px;
	width: 110px;
	background-color: white;
	text-align: center;
	margin: 5px auto;
	cursor: pointer;
	border: none;
}

#reset {
	height: 25px;
	line-height: 25px;
	width: 110px;
	background-color: white;
	text-align: center;
	margin: 5px auto;
	cursor: pointer;
	border: none;
}